<footer class="container-fluid py-2 fync-bg-header-footer fync-footer-h">
    <div class="row">
        <div class="col-1">
            </div>
        <div class="col-7">
        <h1>FYNC</h1>
        <h5>FACE YOUR NEXT CHALLENGE</h5>
        <ul class="list-unstyled text-small">
            <li><p class="font-weight-light">Um APP desenvolvido de atleta para atleta</p></li>                     
            <li><a class="text-white" href="https://facebook.com/fync"><i class="fab fa-facebook mr-1"></i>facebook.com/fync</a></li>
            <li><a class="text-white" href="mailto:fync@gmail.com"><i class="fas fa-envelope mr-1"></i>fync@gmail.com</a></li>
        </ul>
        </div>
        <div class="col-2">                   
            <a class="text-muted" href="#"><img style="width:180px;" src="img/loja_ambos.png"></a>     
        </div>
        <div class="col-2">                    
        <ul class="list-unstyled text-small">
            <li><a class="text-white" href="#">#CalendarioProvas</a></li>
            <li><a class="text-white" href="#">#Campeonatos</a></li>
            <li><a class="text-white" href="#">#Ranking</a></li>
            <li><a class="text-white" href="#">#DashboarResultados</a></li>
            <li><p>E muito mais!</p></li>
        </ul>
        </div>                 
    </div>
</footer>