<form #Form="ngForm" novalidate>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="exampleInputEmail1">Esporte</label>
      <input type="text" class="form-control" name="EspDescricao" required ngMode>
    </div>
    <div class="form-group col-md-6">
        <label for="exampleInputEmail1">Status</label>
        <div class="custom-control custom-radio" *ngFor="let status of statusEsporte">          
            <input name="EspStatus" type="radio" name="customRadio" class="custom-control-input" [value]="1"  [(ngModel)]="EspStatus">
            <label class="custom-control-label">{{status}}</label>
          </div>
    </div>
  </div>
</form>
